{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- Content -->
<div class="col-md-4">
	{{ form.render | raw }}
	<br/>
	<a href="../index">
		<button class="btn btn-default">Back to index</button>
	</a>
</div>



<div id="books-show" class="col-md-8">
	
	<img src="/uploads/books/{{ book.book_photo}}" width="300" height="400">

	<form role="form" action="upload" method="post" enctype="multipart/form-data">
		<p>
			<label for="filename">Select Image:</label>
			<input type="file" name="filename" id="filename" multiple>
		</p>
		<p>
			<input type="submit" name="upload" value="Upload File">
		</p>
	</form>


</div>


{% endblock %}



{% block sidebar %}
	{{ messages.sidebar | raw }}
{% endblock %}