<!DOCTYPE html>
<html>
	<head>
		<title>Sela2p | {{ messages.page_title }}</title>
      {# <title>Sela2p | Title</title> #}
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/buttons.bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/mycss.css">

      <script type="text/javascript" src="/js/lib/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/lib/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="/js/lib/dataTables.bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/lib/dataTables.buttons.min.js"></script>
      <script type="text/javascript" src="/js/lib/buttons.bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/lib/jszip.min.js"></script>
      <script type="text/javascript" src="/js/lib/pdfmake.min.js"></script>
      <script type="text/javascript" src="/js/lib/vfs_fonts.js"></script>
      <script type="text/javascript" src="/js/lib/buttons.html5.min.js"></script>
      <script type="text/javascript" src="/js/lib/buttons.print.min.js"></script>
      <script type="text/javascript" src="/js/lib/buttons.colVis.min.js"></script>
      <script type="text/javascript" src="/js/lib/moment.min.js"></script>
      <script type="text/javascript" src="/js/lib/datetime-moment.js"></script>
      <script type="text/javascript" src="/js/lib/fusioncharts.js"></script>
      <script type="text/javascript" src="/js/lib/fusioncharts.powercharts.js"></script>
      <script type="text/javascript" src="/js/lib/fusioncharts.charts.js"></script>



	</head>


	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Sela2p</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							{% if messages.username %}
								<a href="/users/logout">Logout</a>
							{% else %}
								<a href="/users/login">Login</a>
							{% endif %}
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ messages.username }}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

      {% block body %}
      {% endblock %}


      {% block javascript %}
      {% endblock %}

	</body>
</html>