{% extends "Templates/base_mhss.html" %}

{% block title %}Home{% endblock %}

{% block body %}
   
    <div class="row">
        <h2 align="center">Search Femto meas</h2>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <form action="display" method="get">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Date From:</label>
                            <select required id="date_from" class="form-control" name="date_from">
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>Date To:</label>
                            <select id="date_to" class="form-control" name="date_to">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="time-level">Time Level</label>
                    <select id="time-level" name="time_level" class="form-control">
                        <option value="DAY">Day</option>
                        <option value="RAW">Raw</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cell-names">Search Cells</label>
                    <input type="text" id="cell-names" name="cell-names" class="form-control" onkeyup="searchcell()" onchange="searchcell()"></input>
                </div>

                <div class="form-group">
                    <label>Select Cells</label>
                    <select id="ci-list" name='ci_list[]' multiple size="10" class="form-control"></select>
                </div>

                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="search" name="search">
                </div>
            </form>

        </div>
        <div class="col-sm-3"></div>
    </div>

    



{% endblock %}

{% block javascript %}
   <script type="text/javascript">
      var json_list_of_cells = {{ json_femto_cells | raw }};;
   </script>
   <script type="text/javascript" src="/js/femto/searchform.js"></script>
{% endblock %}




