body {
    padding-top: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5em;
  }

header {
	background: #333;
	color: #fff;
	height: 80px;
	maring-bottom: 20px;
}


section {
	padding-top: 20px;
}

footer {
	background: #333;
	color: #fff;
	height: 60px;
	margin-top: 20px;
	text-align: center;
	padding-top: 20px;
}

#book-index {
	text-align: center;
	vertical-align: bottom;
}


#books-index img {
	margin-top: 20px;
	width: 100;
	padding: 3px;
	border: 1px #ccc solid;
	max-height: 200px;
	margin-bottom: 5px;
}

#books-index h3{
	height: 50px;
}

#books-show {
	vertical-align: text-top;
}

#books-show img {
	padding: 3px;
	/*border: 1px #ccc solid;*/
	max-height: 400px;
	max-width: 400px;

}

/*#books-show table, th, td {
	border: 1px solid black;
}*/
